# Electron Builder Output
dist/

# Node Modules
node_modules

# Unused files
_templateWiki
eslint.config.mjs
discordMarkdown.pegjs
accounts.json
moment.*
tsconfig.json

# Branding templates
branding

# Private commit changelog
CHANGELOG.txt

# ASAR Unpacker for testing resons
asarunpacked
unpack.bat

# NPM Files
package-lock.json