.loginHeader {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
}

input[name="loginToken"] {
    margin: 4px 0 0;
    padding: 8px 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    line-height: 1.5em;

    background-color: var(--foregroundLight);
    color: var(--color);
    font-family: inherit;
}

input[name="loginToken"]::placeholder {
    color: var(--colorDark);
}

input[name="loginSubmit"] {
    margin-top: 16px;
    padding: 8px 12px;
    font-family: inherit;
    border: none;
    border-radius: 8px;

    background-color: var(--foregroundLight);
    box-shadow: var(--shadowSm);
    transition: all var(--trSmooth);
}

input[name="loginSubmit"]:hover:not(:disabled) {
    background-color: var(--background);
    box-shadow: none;
    cursor: pointer;
}

input[name="loginSubmit"]:disabled {
    color: var(--colorDark);
    cursor: not-allowed;
}

input[name="loginDefaultStatus"] {
    display: none;
}

div.loginDefaultStatusSetter {
    width: 250px;
    padding: 0 12px;
}

div.loginBox {
    display: flex;
    flex-direction: row;
}

#loginError {
    margin: 4px 8px 8px;

    font-size: .8rem;
    font-weight: 600;
    opacity: 1;

    color: var(--error);
}

#loginError::before { 
    content: "✕ ";
}

#loginError.hide {
    opacity: 0;
}

#loginForm:has(#loginError:not(.hide)) .popItem * {
    filter: blur(8px);
}