@import url(./messages.css);

li.message {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 4px 48px 4px 72px;
    line-height: 1.5em;
    margin-top: 1rem;
}

li.message:not(.unknown) * {
    user-select: text;
}

li.message > div.pfpCon {
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;

    position: absolute;
    left: 16px;
    margin-top: 4px;
}

li.message > div.pfpCon > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    user-select: none;
}

/* li.message > div.pfpCon > div.msgFollowupFiller {
    width: 40px;
    height: 24px;
} */

.message.no-margin {
    margin-top: 0;
}

div.msgHeader > span.msgAuthor {
    font-weight: 500;
}

div.msgHeader > span.msgAddition {
    font-style: italic;
    font-size: .75rem;
    vertical-align: top;
}

div.msgHeader > span.msgDate {
    margin-left: 8px;
    font-size: .75rem;
    color: var(--colorDark);
    vertical-align: top;
    white-space: break-spaces;
}

li.message div.msgContent {
    text-overflow: clip;
    word-wrap: break-word;
    user-select: text;
    width: 100%;
    overflow: hidden;
}

li.message div.msgCon {
    width: 100%;
}

li.message.unknown {
    position: relative;
    left: -56px;
    padding-right: 0;
}