div.menu {
    width: 240px;
    background-color: var(--backgroundLight);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 16px 0px 0px 0px;
}

div.gName {
    width: 240px;
    height: 48px;
    box-shadow: var(--shadowXs);
}

div#gName {
    height: 48px;
    padding: 12px 16px;
    line-height: 24px;
    font-weight: 500;
    font-size: 1rem;
    vertical-align: baseline;
}

div#channels {
    padding: 8px;
    width: 240px;
    height: calc(100vh - 48px * 2);
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--colorDark);
    list-style-type: none;
}

summary.catName {
    cursor: pointer;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 500;
    /* letter-spacing: .25px; */
    padding-bottom: 4px;
}

summary.catName:hover {
    color: var(--color);
}

details.category {
    padding: 8px 0;
}

ul.chList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* ul.chlist:empty {
    margin:0 !important;
} */

li.channel {
    padding: 8px 12px;
    margin: 4px 0;
    cursor: pointer;
    transition: var(--trSmooth) color;
    border-radius: 8px;
    line-height: 1em;
    font-size: 1em;
}

li.channel > img.chIcon {
    width: 1em;
    height: 1em;
    margin-right: 4px;
    vertical-align: bottom;
}

li.channel.active {
    color: var(--color);
    position: relative;
    background-color: var(--foregroundLight);
}

li.channel:not(.active):hover {
    color: var(--color);
    background-color: var(--foreground);
}

li.channel.invisible {
    cursor: not-allowed;
}