@import url(./dialogs/login.css);
@import url(./dialogs/confirm.css);

#dialog {
    border: none;
    border-radius: 16px;
    font-family: inherit;
    margin: auto;
    width: 500px;

    padding: 32px 16px;
    overflow-x: hidden;
    
    transition: all var(--trLongEase);
    opacity: 0;
    transform: translateY(-32px);
    background-color: var(--backgroundLight);
    color: var(--color);
    box-shadow: var(--shadowLg);
}

#dialog.small {
    width: 400px;
}

#dialog.show {
    opacity: 1;
    transform: translateY(0px);
}

#dialog::backdrop {
    transition: all var(--trLongEase);
    background-color: rgba(var(--absoluteRgb), 0);
    backdrop-filter: blur(0px);
}

#dialog.show::backdrop {
    background-color: rgba(var(--absoluteRgb), .125);
    backdrop-filter: blur(32px);
}

#dialog.show.small::backdrop {
    backdrop-filter: blur(16px);
}

#dialog .dismiss {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
}

#dialog.small .dismiss {
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
}