@import url(./user/profilePopout.css);
@import url(./user/botClientMenu.css);

div.user {
    --padding: 12px;
    --margin: 8px;
    --width: calc(
        240px
        - var(--margin) * 2
    );
    --height: calc(40px + (var(--padding) * 2));

    --availableWidth: calc(
        var(--width)
        - var(--padding) * 2
    );
    --offsets: 8px;

    --buttons: 1;

    width: var(--width);
    height: var(--height);
    padding: 12px;
    /* vertical-align: text-top; */
    background-color: var(--background);
    border-radius: 16px;

    display: flex;
    flex-direction: row;
    position: relative;
    /* overflow: hidden; */
    justify-content: space-between;
    margin: 8px;
    box-shadow: var(--shadowMd);
}

#infoProfile {
    --paddingInfo: 4px;
    --bg: var(--background);

    margin-right: var(--offsets);
    padding: var(--paddingInfo);
    height: 40px;

    display: flex;
    flex-direction: row;
    position: relative;

    background-color: var(--bg);
    border-radius: 4px;
    cursor: pointer;
}

#infoProfile:hover {
    --bg: var(--backgroundLight);
}

.pfpBox {
    height: 32px;
    width: 32px;
    overflow: hidden;
}

.pfpBox > .pfp {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#userStatus {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 23px;
    left: 23px;
    padding: 2px;

    background-color: var(--bg);
    border-radius: 50%;
}

.usernameBox {
    height: 32px;
    width: auto;
    padding-left: var(--offsets, 8px);
    overflow: hidden;
    max-width: calc(
        var(--availableWidth)
        - var(--paddingInfo) * 2
        - var(--offsets)
        - var(--buttons) * 32px
        - 32px
    );
}

.usernameBox * {
    user-select: text;
}

.username {
    font-size: .875rem;
    font-weight: 600;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.status {
    position: absolute;
    top: 20px;
    font-size: .75rem;
    font-weight: 400;
}

.buttonsProfile {
    height: 32px;
    padding: 4px 0;
    position: relative;
}

.buttonsProfile > div {
    width: 24px !important;
    height: 24px !important;
    transition: filter var(--trSmooth);
    margin: 4px;
    background-size: 24px;
    cursor: pointer;
}

.buttonsProfile > div.open {
    filter: var(--iconFilter);
}