@import url(./css/guildList.css);
@import url(./css/channelList.css);
@import url(./css/user.css);
@import url(./css/chatLayout.css);
@import url(./css/dialog.css);


/* div#profilePopoutFill > hr {
    border: solid var(--fg) 1px;
}

div#profilePopoutFill > hr:last-child {
    border: none;
} */

body {
    font-size: 1rem;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Work Sans";
    overflow: hidden;
    display: flex;

    background-color: var(--bg);
    color: var(--color);
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    color-scheme: dark;
    -webkit-user-drag: none;
    user-select: none;
}

*:focus-visible {
    outline: none;
}

div#loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg);
    transform: scaleY(1);
    opacity: 1;
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1000;
}

.i {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    transition: filter var(--trSmooth);
}

.i:hover:not(.static) {
    filter: var(--iconFilter);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
    background-color: var(--bgNi);
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
    background-color: var(--fgNi);
    min-height: 40px;
}

div.checkbox {
    margin: 4px 0;
    height: 24px;
    width: 44px;

    overflow: hidden;
    padding: 2px;

    background-color: var(--fgNi);
    border-radius: 24px;
    box-shadow: var(--shadow) 0 2px 8px;
    transition: all var(--trSmooth);
}

div.checkbox > div.checkboxThumb {
    height: 20px;
    width: 20px;
    position: relative;
    left: 0px;
    
    background-color: var(--colorNi);
    border-radius: 20px;
    transition: all var(--trSmooth);
    cursor: pointer;
}

div.checkbox[data-value="1"] > div.checkboxThumb {
    left: calc(100% - 20px);
    background-color: var(--accent);
}

div.checkbox[data-value="1"] {
    background-color: var(--accentDark);
}

div.info {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

a {
    color: var(--accentExtraLight);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--accentExtraLight);
}