div#profilePopout {
    width: 224px;
    /* height: auto; */
    bottom: calc(
        var(--height)
        + var(--margin) * 2 
    );
    left: 0px;

    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    justify-content: space-between;

    box-shadow: var(--shadowMd);
    transition: all var(--trSmooth);
    background-color: var(--background);
    border-radius: 16px;
}

div#profilePopout:not(.open) {
    height: 0px;
    padding: 0px;
}

div.popItem {
    --popPadding: 12px;
    width: 100%;
    padding: var(--popPadding);
    /* vertical-align: text-top; */
    background-color: var(--background);
    /* transition: background-color var(--trSmooth); */

    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /* justify-content: space-between; */
}

div.popItem:not(.static):hover {
    background-color: var(--backgroundLight);
}

div.popItem.standalone {
    border-radius: 10px;
    width: 224px;
}

div#addUser {
    color: var(--colorDark);
    /* transition: all var(--trSmooth); */
}

div#addUser:hover {
    color: var(--color);
}

div#addUser .usernameBox {
    line-height: 32px;
    vertical-align: middle;
}

div#addUser:hover .pfp {
    filter: var(--iconFilter);
}

div.delBotBtn {
    width: 20px;
    height: 20px;
    float: right;
    align-self: center;
    margin-left: auto;
    position: absolute;
    right: 0;
    margin: 0 12px;
}

div.popItem .usernameBox {
    max-width: calc(
        200px - 32px
        - var(--offset, 8px)
        - 20px - var(--popPadding)
    );
}